@import "foundation_and_overrides";
@import "tablesaw";

h1 {
	border-bottom: 1px solid silver;
}

h1 .button {
	top: -0.5rem;
	margin-bottom: 5px;
}

table {
	font-size: .8em;
}

table th {
	background: #F5F5F5;
}

table .button {
	margin-bottom: 0;
}

@media (min-width: 40em) {
	table.tablesaw-stack td, table.tablesaw-stack th, table.tablesaw-stack thead td, table.tablesaw-stack thead th {
		font-size: 0.77778rem;
		padding: 0.2rem 1rem;
	}
}

.category-bullet {
	border: 1px solid #AAAAAA;
	border-radius: 50%;
	display: inline-block;
	width: 10px;
	height: 10px; 
}

a.button {
	color: #FFFFFF;
}

.negative {
	color: $alert-color;
}

input.checkbox_commited {
	margin-top: 5px;
}

.text-mutted {
	color: $jumbo;
}

@media #{$medium-up} {
  .estimated-commit-panels .columns:nth-child(1) {
      border-right: 1px solid $gainsboro;
  }
}
