<h1>
  <span class="fi-torso"></span>
  Beneficiados
  <%= link_to new_payee_path, class: 'round tiny button' do %>
    <span class="fi-plus"></span>&nbsp;
    criar
  <% end %>
</h1>

<p>
  Os beneficiados são pessoas ou empresas para onde o dinheiro foi transferido.
  Use-os para saber quem retém a maior parte de seus gastos.
</p>

<table class="tablesaw tablesaw-stack" data-mode="stack">
  <thead>
    <tr>
      <th scope="column">Nome</th>
      <th scope="column" width="170">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @payees.each do |payee| %>
      <tr>
        <td><%= link_to payee.name, payee %></td>
	<td><%= render partial: 'shared/action_buttons', locals: { controller: "payees", object: payee } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
