<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fluxo</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
</head>
<body>

    <div class="row">
      <div class="small-12 medium-push-2 medium-4 columns">
      
        <%= yield %>

      </div>
    </div>
	
</body>
</html>